# Center the window list
set -g status-justify centre

# address vim mode switching delay (http://superuser.com/a/252717/65504)
set -s escape-time 0

# start indexing windows at 1
set -g base-index 1

# renumber all windows when any window is closed
set -g renumber-windows on

# increase scrollback buffer size
set -g history-limit 50000

set -g status-position top

# Set default terminal color
set -g default-terminal "xterm-256color"

# ========== TMUX Plugin Manager ==========

if "test ! -d ~/.byobu/tmux_plugins/tpm" \
      "run 'git clone https://github.com/tmux-plugins/tpm ~/.byobu/tmux_plugins/tpm && ~/.byobu/tmux_plugins/tpm/bin/install_plugins'"

set-environment -g TMUX_PLUGIN_MANAGER_PATH '~/.byobu/tmux_plugins'

# List of plugins - https://github.com/tmux-plugins/tpm/blob/master/docs/tpm_not_working.md
#set -g @plugin 'tmux-plugins/tpm'
#set -g @plugin 'tmux-plugins/tmux-sensible'
#set -g @plugin 'tmux-plugins/tmux-resurrect'
#set -g @plugin 'tmux-plugins/tmux-continuum'

# Other examples:
# set -g @plugin 'github_username/plugin_name'
# set -g @plugin 'git@github.com/user/plugin'
# set -g @plugin 'git@bitbucket.com/user/plugin'

set -g @tpm_plugins 'tmux-plugins/tpm \
  tmux-plugins/tmux-sensible \
  tmux-plugins/resurrect \
  tmux-plugins/continuum \
  catpuccin/tmux \
  sainnhe/tmux-fzf \
  wfxr/tmux-fzf-url \
  catppuccin/tmux \
  omerxx/tmux-sessionx'
  
set -g @sessionx-bind 'o'
#set -g @sessionx-x-path '~/dotfiles'
set -g @sessionx-window-height '85%'
set -g @sessionx-window-width '75%'
set -g @sessionx-zoxide-mode 'on'

set -g @catppuccin_window_left_separator ""
set -g @catppuccin_window_right_separator " "
set -g @catppuccin_window_middle_separator " █"
set -g @catppuccin_window_number_position "right"
set -g @catppuccin_window_default_fill "number"
set -g @catppuccin_window_default_text "#W"
set -g @catppuccin_window_current_fill "number"
set -g @catppuccin_window_current_text "#W#{?window_zoomed_flag,(),}"
set -g @catppuccin_status_modules_right "directory meetings date_time"
set -g @catppuccin_status_modules_left "session"
set -g @catppuccin_status_left_separator  " "
set -g @catppuccin_status_right_separator " "
set -g @catppuccin_status_right_separator_inverse "no"
set -g @catppuccin_status_fill "icon"
set -g @catppuccin_status_connect_separator "no"
set -g @catppuccin_directory_text "#{b:pane_current_path}"
#set -g @catppuccin_meetings_text "#($HOME/.config/tmux/scripts/cal.sh)"
set -g @catppuccin_date_time_text "%H:%M"

set -g @resurrect-dir '~/.byobu/tmux_resurrect'
#set -g @resurrect-save-bash-history 'on'
set -g @resurrect-capture-pane-contents 'on'
set -g @resurrect-processes 'ssh'
set -g @continuum-save-interval '10'
set -g @continuum-boot 'on'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.byobu/tmux_plugins/tpm/tpm'
